<div class="container">
    <h1 class="mt-3 d-flex justify-content-center">Add a new book</h1>
    <div class="row d-flex justify-content-center">
        <form class="mt-3 col-7" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="mb-3">
                <label class="form-label">ISBN</label>
                <input type="text" class="form-control" formControlName="isbn">
            </div>
            <div class="mb-3">
                <label class="form-label">Author</label>
                <select class="form-control" (change)="onChange($event)" formControlName="fk_author">
                    <option value="" disabled>Select author</option>
                    <option *ngFor="let author of arrAuthors" [value]="author.id">
                        {{author.first_name}} {{author.last_name}}</option>
                </select>
            </div>
            <button class="mt-3 btn btn-outline-primary">Send</button>
        </form>
    </div>
</div>