<div class="container">
    <div class="row">
        <div class="card border-warning m-3" style="max-width: 18rem;">
            <div class="card-header">Author</div>
            <div class="card-body">
                <h5 class="card-title">{{author.first_name}} {{author.last_name}}</h5>
                <div class="row mt-4">
                    <button class="btn btn-outline-primary mt-3 me-3" routerLink="/createBook">Modify author</button>
                </div>
            </div>
        </div>
    </div>