<div class="container">
    <div class="row">
        <h1 class="my-4 d-flex justify-content-center">List of authors</h1>
        <div class="btn col-sm-3 m-3" *ngFor="let author of arrAuthors" [routerLink]="['/author', author.id]">
            <div class="card border-warning m-3" style="max-width: 18rem;">
                <div class="card-header">Author</div>
                <div class="card-body">
                    <h5 class="card-title">{{author.first_name}} {{author.last_name}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>